<%- include("partials/header"); -%>
<h1>Home</h1>

<%  posts.forEach(function(post){ %>

  <h1><%=post.post_title%></h1>
  <p>
  <%=post.post_text.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post.post_title%>">Read More</a>
  </p>


  <% }) %>

<%- include("partials/footer"); -%>
<!-- <script src="js/getData.js"></script> -->
