<%- include("partials/header"); -%>

  <h1><%=post.post_title%></h1>
  <p><%=post.post_text%>
    <a href="/post-delete/<%=post.post_id%>">Delete this shiz and I said biiiiiiiiiiiii</a>
  </p>


<%- include("partials/footer"); -%>
